body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 2fr;

    background-color: #42465B;

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.header {
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: end;
}

.content {
    display: grid;
    grid-row: 2;
    grid-template-rows: repeat(2, 1fr);

    text-align: center;
}

.ts-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    font-size: x-large;
    color: #9B9FB1;
    margin-bottom: 5rem;
}

.timestamp-word {
    display: flex;
    justify-content: flex-end;
}

.timestamp-value {
    display: flex;
    justify-content: center;
}

.dt-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: xxx-large;
}

.zone-name {
    display: flex;
    justify-content: flex-end;
    color: #9B9FB1;
}

.time-value {
    color: #F5F4F6;
}

.time-value::selection {
    background-color: #866756;
}

.ts-row *::selection,
.zone-name::selection,
.zone-name *::selection {
    background-color: #F5F4F6;
}
