<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Timestamp converter</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
  <link href="{{ request.app.url_path_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
<div class="header">
  <div class="ts-row">
    <div class="timestamp-word">timestamp</div>
    <div class="timestamp-value">{{ content['timestamp'] }}</div>
    <div class="empty-cell"></div>
  </div>
</div>
<div class="content">
  {% for zone, dt in (content['result'] | default({})).items() %}
    <div class="dt-row">
      <div class="zone-name">{{ zone }}</div>
      <div class="time-value">{{ dt }}</div>
      <div class="empty-cell"></div>
    </div>
  {% endfor %}
</div>
<div class="footer"></div>
</body>
</html>
